
body {
    background-color: clear;
  }
.activity-name {
    width:300px;
}
    .btn {
      -webkit-border-radius: 9;
      -moz-border-radius: 9;
      border-radius: 9px;
      font-family: Arial;
      color: #f5f0f5;
      font-size: 20px;
      background-color: transparent;
      padding: 9px 18px 10px 20px;
      text-decoration: none;
    }

    .btn:hover {
      background: #a6aaad;
      text-decoration: none;
    }

#title {
  color: #c0c0c0;
  font-weight: 700;
  font-size: 100px;
  margin-top: 200px;
}

#subtitle {
  color:
}
