
<h2>{{model.name}}</h2>

<div class="col-md-12" style="margin-top: 30px; padding:0px; margin-left:20px; background-color: white;">
    {{#froala-content}}
        {{{model.content}}}
    {{/froala-content}}
</div>

<div class="col-md-12" style='margin-top:20px'>
    {{#link-to 'lesson-detail' model.lessonPlan tagName='button' class='btn-large btn btn-primary' }}Back to Lesson{{/link-to}}
</div>
