
<h2> Add Lesson Activities </h2>
<div class='col-md-4'>
  {{textarea placeholder="Write your activities here, separated by commas." label="Activities" value=name cols="80" rows="6"}}
  {{#bs-button type='success' action='stuff'}}Save &amp; Continue »{{/bs-button}}
</div>
