
<h2> Add Homework Activities </h2>
<div class='col-md-4'>
  <label class="ember-view control-label">Add any links to media or articles here</label>
  {{em-input property="link1" placeholder="i.e. 'www.nytimes.com'"}}
  {{em-input property="link2" placeholder="i.e. 'www.youtube.com'"}}
  {{em-input property="link3" placeholder="i.e. 'image.jpg'"}}
  {{#link-to 'create-activity-lesson-activities' model tagName='button' class='btn btn-primary btn-large'}}Save &amp; Continue »{{/link-to}}
</div>
