<h2> Create a Lesson </h2>
<div class='col-md-12'>
    <label>Title</label>
    {{#input label="Title" class='form-control' value=model.title}} {{/input}}
    <label>Subject</label>
    {{#input label="Subject" class='form-control' value=model.subject}} {{/input}}
    <label>Group Size</label>
    {{#input label="Subject" class='form-control' value=model.groupSize}} {{/input}}
    <label>Grade Level</label>
    {{#input label="Subject" class='form-control' value=model.gradeLevel}} {{/input}}
  <label class="ember-view control-label">Lesson Objectives</label>
    <div></div>
  {{textarea label="Objectives" placeholder="Write your lesson's objectives and goals here." value=objectives cols="80" rows="6"}}
    <div></div>
  {{#link-to 'create-activity-lesson-activities' model tagName='button' class='btn btn-primary btn-large'}}Save &amp; Continue »{{/link-to}}
</div>
