<div style="text-align: center;">
{{#link-to 'create-activity-metadata' tagName='button' class='btn btn-default'}}Create Lesson{{/link-to}}
{{#link-to 'search' tagName='button' class='btn btn-default'}}Browse Lessons{{/link-to}}
</div>
