<h2> Dashboard </h2>
{{#link-to 'create-activity-metadata' tagName='button' class='btn btn-default'}}Create Lesson{{/link-to}}
{{#link-to 'search' tagName='button' class='btn btn-default'}}Search{{/link-to}}
