<div class="text-center">{{#link-to 'login' tagName='button' class='btn btn-default'}} Login {{/link-to}}
{{#link-to 'register' tagName='button' class='btn btn-default'}} Register {{/link-to}}
</div>

<div class="intro-header">
       <div class="container">

           <div class="row">
               <div class="col-lg-12">
                   <div class="intro-message text-center">
                    <!--   <h1>Realtaught</h1> -->

                       <h4 id="subtitle">Real-time Learning about Current Issues. Collaborative Teaching, Collaborative Learning.</h4>
                   </div>
               </div>
           </div>

       </div>
       <!-- /.container -->

   </div>
   <!-- /.intro-header -->
