<div class="text-center">{{#link-to 'login' tagName='button' class='btn btn-default'}} Login {{/link-to}}
{{#link-to 'register' tagName='button' class='btn btn-default'}} Register {{/link-to}}
</div>
<h4 id="subtitle" class="text-center">Real-time Learning about Current Issues. Collaborative Teaching, Collaborative Learning.</h4>
