<div class="col-md-8 col-md-offset-2 lighten content">
  {{em-input label="Username" property="username" placeholder='teach762'}}
  {{em-input type='password' label="Password" placeholder='*******' property="password"}}
  {{#bs-button type='primary' action='login'}}Login{{/bs-button}}
</div>
