<div class='col-md-2'>
  {{em-input label="Username" property="username"}}
  {{em-input label="Password" property="password"}}
  {{#bs-button type='primary' action='login'}}Login{{/bs-button}}
</div>
